<%= form_with theme: 'search', model: Comment.new do |f| %>
  <div class="field-body">
    <%= f.number_field :commentable_id %>
    <div class="field is-narrow">
      <%= f.submit %>
    </div>
  </div>
<% end %>
